<div class="contact-us-main-block ">
    <div class="col">
        <img class="w-100 contact-us-img" src="assets/Images/contact-us.jpg">
    </div>
    <div class="col-12 contact-us-main align-items-center justify-content-center">
        <p-card>
            <div class="text-center free-quote">
                <div class="tell-us pb-4">Tell Us More About You</div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 pb-2">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Enter First Name">
                    </div>
                </div>
                <div class="col-12 col-sm-6  pb-2">
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Enter Last Name">
                    </div>
                </div>
                <div class="col-12 col-sm-6   pb-2">
                    <div class="form-group">
                        <label for="phoneNo">Phone Number</label>
                        <input type="phone" class="form-control" id="phoneNo" placeholder="Enter Phone Number">
                    </div>
                </div>
                <div class="col-12 col-sm-6  pb-2">
                    <div class="form-group">
                        <label for="email">Email Id</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter Email Id">
                    </div>
                </div>
                <div class="col-12 pb-2">
                    <div class="form-group">
                        <label for="description">How can we help you</label>
                        <textarea class="form-control" id="description" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 text-center">
                    <p-button label="Submit" styleClass="p-button-warning w-10rem"></p-button>
                </div>
            </div>
            <div class="row mb-3 address-details">
                <div class="col-12 col-sm-4 text-center">
                    <div class="pt-2 pb-2 fw-bold">PHONE:</div>
                    <div><a href="tel:+15409934591" class="phone-number">540.993.4591</a></div>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <div class="pt-2 pb-2 fw-bold">ADDRESS:</div>
                    <div>
                        <div>16 Commerce Pkwy.</div>
                        <div>Suite 103</div>
                        <div>Fredericksburg, VA 22406</div>
                        <div>USA</div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <div class="pt-2 pb-2 fw-bold">HOURS OF OPERATION:</div>
                    <div>
                        <div>Monday–Friday</div>
                        <div>9:00am–5:00pm CT</div>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>