<div class="container-fluid">
    <div class="row">
        <div class="col">
            <section class="about-first-div pt-3 pb-3">
                <div class="container">
                    <div class="first-div-wrapper">
                        <div class="row">
                            <div class="col-xl-7 col-lg-8 offset-xl-5 offset-lg-4">
                                <div class="inner-div-1">
                                    <div class="section-titie section-bg">
                                        <h2>We are committed to maintain the Highest Quality Standards</h2>
                                        <p class="pt-3">At Boosted Image Detailing we are committed to maintain the
                                            highest quality
                                            standards of auto care in the industry and we’ve earned a good reputation
                                            for excellence from our clients. We are extremely proud to be referred to
                                            again and again. Our goals have always included competitive pricing,
                                            satisfied customers, and high-quality work. We focus on customer service and
                                            satisfaction as our top priorities. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="aboutus-second-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-10 col-sm-11">
                            <div class="section-title mb-60">
                                <h2>Why take our services?</h2>

                                <p>We offer the utmost in convenience, professionalism, and value. We guarantee your
                                    satisfaction and strive to develop long lasting business relationships with our
                                    customers. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-6 d-sm-none d-md-none d-lg-block">
                            <img class="img-fluid" src="assets/Images/aboutus_2.png" />
                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-6">
                            <div class="right-panel justify-content-start">
                                <div class="panel-title">
                                    <h2>Commitment to our customers</h2>
                                </div>
                                <div class="panel-body">
                                    <p>We do not worry about the number of cars we detail on a weekly or monthly basis,
                                        in fact, we are just concerned about how satisfied customers are. We understand
                                        that our business is only going to thrive with loyal customers like yourself.
                                        With this in mind, we constantly provide the best service and detailing to your
                                        area that no other local business can provide. The most important thing to us at
                                        Boosted Image Detailing is to provide our customers with a service so great that
                                        they will be left speechless. We are driven by results and by customer
                                        satisfaction. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>