<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <a routerLink="/">
      <img src="assets/Images/logo.png" width="40px" style="border-radius: 50% ;">
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <span class=" navbar-menu-item">
      <p-button label="Login" styleClass="p-button-link" routerLink="/login"></p-button>
    </span>
  </ng-template>
</p-menubar>


<div>
  <router-outlet></router-outlet>
</div>

<div class="bid-footer text-center pt-4 pb-3 ps-2">
  <footer>
    &#169; 2023 Boosted Image Detailing. All rights reserved.
  </footer>
</div>