<div class="container main-header" role="button" routerLink="\">
  <div class="row">
    <div class="col-3 col-sm-2 col-md-4 text-end logo pt-3 pb-3">
      <img src="assets/Images/logo.png" style="width:80px;border-radius:20%">
    </div>
    <div class="col-9 col-sm-10 col-md-8 text-start header pt-3 pb-3 ps-0">
      <div class="pt-2 fw-bold">
        <h2>BOOSTED IMAGE DETAILING</h2>
      </div>
      <div class="tag-line text-start">
        <h4>Clean. Shine. Protect. Maintain</h4>
      </div>
    </div>
  </div>
</div>
<p-menubar [model]="items">
  <!-- <ng-template pTemplate="start">
    <a routerLink="/">
      <img src="assets/Images/logo.png" width="40px" style="border-radius: 50% ;">
    </a>
  </ng-template> -->
  <!-- <ng-template pTemplate="end">
    <span class=" navbar-menu-item">
      <p-button label="Login" styleClass="p-button-link" routerLink="/login"></p-button>
    </span>
  </ng-template> -->
</p-menubar>


<div>
  <router-outlet></router-outlet>
</div>

<div class="bid-footer text-center pt-4 pb-3 ps-2">
  <footer>
    &#169; 2023 Boosted Image Detailing. All rights reserved.
  </footer>
</div>