:host ::ng-deep .navbar-menu-item .p-button .p-button-label {
    font-weight: 600 !important;
    color: white !important;
}


.logo {
    font-weight: 600;
    color: black;
    font-family: cursive;
    font-size: 2rem;
}