<div class="image-container">
    <img src="assets/Images/services.png" alt="Detailing Services Image" width="100%">
    <div class="text-overlay">
        <h2>Detailing</h2>
    </div>
</div>

<div class="services-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10">
                <div class="section-tittle text-center mb-90">
                    <h2>We offer best services to our customer</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p-card>
                    <div class="text-center">
                        <div class="top-block">
                            <div class="">
                                <h4>Auto Detailing</h4>
                                <h6>Our goal of detailing is to bring your vehicle back to its original showroom
                                    condition, or even better</h6>
                            </div>
                        </div>
                        <div class="bottom-block">
                            <ul>
                                <li>Washing</li>
                                <li>Claying</li>
                                <li>Polishing</li>
                                <li>Waxing</li>
                                <li>Sealing Exterior</li>
                                <li>Paint Correction</li>
                                <li>Scratch Removal</li>
                            </ul>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="col-md-6 col-sm-12">
                <p-card>
                    <div class="text-center">
                        <h4>Coating</h4>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>