@media only screen and (max-width: 576px) {
    .contact-us-img {
        height: 10rem;
    }

    .services-section {
        padding-top: 65px;
        padding-bottom: 70px;
    }
}

@media only screen and (min-width: 576px) {
    .contact-us-img {
        height: 15rem;
    }

    .services-section {
        padding-top: 65px;
        padding-bottom: 70px;
    }
}

@media only screen and (min-width: 768px) {
    .contact-us-img {
        height: 25rem;
    }

    .services-section {
        padding-top: 100px;
        padding-bottom: 70px;
    }
}

@media only screen and (min-width: 992px) {

    .contact-us-img {
        height: 30rem;
    }

    .services-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    .contact-us-main {
        position: absolute;
        left: 20%;
        width: 60%;
        margin-top: -5rem;
    }

    .contact-us-img {
        height: 30rem;
    }

    .services-section {
        padding-top: 130px;
        padding-bottom: 120px;
    }
}