<div class="image-container">
    <img src="assets/Images/bid-coating.png" alt="Coating" width="100%">
    <div class="text-overlay">
        <h2>Coating</h2>
    </div>
</div>
<div class="container pt-5">
    <p-card>
        <div class="row ps-0 ms-0">
            <div class="col-sm-12 ps-0 pe-0">
                <div class="sb3-image-container">
                    SB3 Coating
                </div>
            </div>
            <div class="col-sm-12 align-items-center justify-content-center detail">
                <p>SB3 Coatings has a full range of Ceramic coatings that will meet needs and help protect against sun
                    damage and oxidation. Unlike traditional waxes and sealants, our coatings last for years of
                    protection.
                </p>
                <p>
                    Often measured in years, we have coatings that last from one year to 7 years. An often-overlooked
                    benefit of ceramic coating your car is the way it repels dirt and other substances. A ceramic
                    coating
                    makes your car’s surface very smooth, filling in the imperfections of the clear coat beneath it,
                    making
                    it difficult for dirt to stick to the surface. This means you won’t have to wash your car as
                    frequently.
                    Also making your car easier to clean while maintaining a deep, glossy appearance.
                </p>
                <p>
                    Utilizing nanotechnology, ceramic coatings build a permanent bond to your vehicle's clearcoat. This
                    clear layer is naked to the eye, but don't let that fool you. This clear layer will not wash away
                    from
                    cleaning or rain, nor will it break down fast like traditional waxes or sealants. In fact, they last
                    years!
                </p>
                <p>
                    Water instantly repels away encapsulating dirt, making your vehicle easier to clean. This
                    hydrophobic
                    effect is known as the self-cleaning effect. The hydrophobicity of ceramic coatings is the first
                    benefit
                    that draws attention to the end user. While the self-cleaning benefits are nice, there are even
                    better
                    benefits of a Ceramic Coating.
                </p>
                <p>
                    Ceramic Coatings prevent oxidation, aid in bird droppings, and make your vehicle's surface less
                    prone to
                    scratching. The hardened structure left behind from a ceramic coating is 2 to 3 times harder than a
                    clear coat.
                </p>
                <p>
                    So why Ceramic Coatings? SB3 Ceramic Coatings are the best protection for cars. SB3 Coatings brings
                    innovation and science to provide you with modern technology.
                </p>
            </div>
        </div>
    </p-card>
</div>
<div class="container pt-5">
    <p-card>
        <div class="row ps-0 ms-0">
            <div class="col-sm-12 ps-0 pe-0">
                <div class="opti-image-container">
                    Opti Coating
                </div>
            </div>
            <div class="col-sm-12 align-items-center justify-content-center detail pt-4">
                <p>OPTI-COAT PRODUCTS KEEP YOUR CAR LOOKING LIKE NEW, EVERY DAY. Once applied the coatings are
                    permanent. No need to reapply. Simply maintain the vehicle as it normally would be! Ceramic Coatings
                    are 100x more resistant to acids and enzymes than factory paint. Up to 7-year warranty on interior
                    and exterior ceramic coatings.
                </p>
            </div>
        </div>
    </p-card>
</div>